<!--Footer-->
<footer class="page-footer pt-4 mt-4   text-center text-md-left" id="contactUs">
    <!--Footer Links-->
    <div class="container">
        <div class="row">
            <!--First column-->
            <div class="col-md-4 text-center">
                <h5 class="text-uppercase font-weight-bold">Address</h5>
                <p>Pizza Paradise</p>
                <p>1234 Sunset ABC,
                    Hoang Quoc Viet, Hanoi</p>
                <!--Social buttons-->
                <hr>
                <h5 class="text-uppercase font-weight-bold">Connect Us</h5>
                <div class="mb-3">
                    <a class="btn-floating btn-sm btn-fb" type="button" role="button"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn-floating btn-sm btn-tw" type="button" role="button"><i class="fab fa-twitter"></i></a>
                    <a class="btn-floating btn-sm btn-yt" type="button" role="button"><i class="fab fa-youtube"></i></a>
                    <a class="btn-floating btn-sm btn-git" type="button" role="button"><i class="fab fa-github"></i></a>
                    <a class="btn-floating btn-sm btn-ins" type="button" role="button"><i
                            class="fab fa-instagram"></i></a>
                </div>
                <!--/.Social buttons-->
            </div>
            <!--/.First column-->

            <hr class="w-100 clearfix d-md-none">

            <!--Second column-->
            <div class="col-md-4 ml-auto">
                <h5 class="text-uppercase font-weight-bold text-center">Delivery hours</h5>
                <div class="container">
                    <div id="textbox">
                        <p style="float: left;">Sun</p>
                        <p style="float: right;">11:00AM - 7:45PM</p>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="textbox">
                        <p style="float: left;">Mon</p>
                        <p style="float: right;">10:00AM - 9:45PM</p>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="textbox">
                        <p style="float: left;">Tue</p>
                        <p style="float: right;">Closed</p>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="textbox">
                        <p style="float: left;">Wed</p>
                        <p style="float: right;">10:00AM - 9:45PM</p>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="textbox">
                        <p style="float: left;">Thur</p>
                        <p style="float: right;">10:00AM - 9:45PM</p>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="textbox">
                        <p style="float: left;">Fri</p>
                        <p style="float: right;">Closed</p>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="textbox">
                        <p style="float: left;">Sat</p>
                        <p style="float: right;">11:00AM - 10:45PM</p>
                        <div style="clear: both;"></div>
                    </div>
                </div>
            </div>

            <!--/.Second column-->

            <hr class="w-100 clearfix d-md-none">

            <!--Third column-->
            <div class="col-md-4 ml-auto">
                <h5 class="text-uppercase font-weight-bold text-center">Take out hours</h5>
                <div class="container">
                    <div id="textbox">
                        <p style="float: left;">Sun</p>
                        <p style="float: right;">11:00AM - 8:00PM</p>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="textbox">
                        <p style="float: left;">Mon</p>
                        <p style="float: right;">10:00AM - 10:00PM</p>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="textbox">
                        <p style="float: left;">Tue</p>
                        <p style="float: right;">Closed</p>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="textbox">
                        <p style="float: left;">Wed</p>
                        <p style="float: right;">10:00AM - 10:00PM</p>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="textbox">
                        <p style="float: left;">Thur</p>
                        <p style="float: right;">10:00AM - 10:00PM</p>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="textbox">
                        <p style="float: left;">Fri</p>
                        <p style="float: right;">Closed</p>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="textbox">
                        <p style="float: left;">Sat</p>
                        <p style="float: right;">11:00AM - 11:00PM</p>
                        <div style="clear: both;"></div>
                    </div>
                </div>
            </div>
            <!--/.Third column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright pt-3 text-center">
        <div class="container-fluid">
            <p>From <strong>Pizza Paradise</strong> with love!</p>
        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->


<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>

<script type="text/javascript" src="/js/popper.min.js"></script>

<script type="text/javascript" src="/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/js/mdb.min.js"></script>

<script type="text/javascript" src="/js/login_script.js"></script>
<script>
    var baseUrl = window.location.origin+window.location.pathname.split('/')[0] + '/';

    $('#myModal').modal({ show: false})
    $('#modalContactForm').modal({ show: false})

    var on = $("#myModal").hasClass("modalOn");
    var on2 = $("#modalContactForm").hasClass("modalOn");
    if(on){
        $('#myModal').modal('show')
    }
    if(on2){
        $('#modalContactForm').modal('show')
    }
    $(".modalToggle").on("click",function () {

        $('#myModal').modal('show')

    })

    $('.addCart').on("click",function(e){
        e.preventDefault();
        $(this).addClass("active")
        var foodId = $(this).data('food-id')
        var url =  baseUrl + ('addtocart/') + foodId
        $.ajax({
            type : 'get',
            url : url,
            data:{
                _csrf: $('meta[name="csrf-token"]').attr('content'),
            },
            success: function (data) {
                var added = data.added
                var asd ='#qty'+ data.added._id
                var size = Object.keys(data.items).length;
                $('.totalqual').replaceWith('<span class="badge badge-danger totalqual">' + data.totalQty + '</span>');
                $('.totalcost').replaceWith('<td class="totalcost">'+data.totalCost+'$</td>');
                if (data.exist === false){
                    tr = ''
                    tr += '<tr class="removable'+data.added._id+'">'
                    tr +=     '<th scope="row">'+size+'</th>'
                    tr +=     '<th class="pr-0"><img src="'+data.added.image+'" alt="" style=" max-width:60%" class="img-fluid"></th>'
                    tr +=     '<td class="pl-0">'+data.added.name+'</td>'
                    tr +=     '<td>'+data.added.cost+'$</td>'
                    tr +=     '<td class="text-center" id="qty'+data.added._id+'">1</td>'
                    tr +=     '<td>'
                    tr +=         '<a class="increaseval" data-cartfood-id="'+data.added._id+'" ><i class="fas fa-plus "></i></a>'
                    tr +=     '</td>'
                    tr +=     '<td>'
                    tr +=         '<a class="reduceval" data-cartfood-id="'+data.added._id+'"> <i class="fas fa-minus"></i></a>'
                    tr +=     '</td>'
                    tr +=     '<td><a class="btn btn-sm btn-outline-danger removeval" data-cartfood-id="'+data.added._id+'">Remove</a></td>'
                    tr += '</tr>'
                    $("#showfoodcart tbody").append(tr)
                } else {
                    var countqty = $(asd).text();
                    countqty = Number(countqty) + 1;
                    $(asd).replaceWith('<td class="text-center" id="qty'+data.added._id+'">'+countqty+'</td>')
                }
            }
        })
    })
    $('#showfoodcart').on("click", ".increaseval",function(e){
        e.preventDefault();
        var cartfoodId = $(this).data('cartfood-id')
        var url =  baseUrl + ('increase/') + cartfoodId
        $.ajax({
            type : 'get',
            url : url,
            data:{
                _csrf: $('meta[name="csrf-token"]').attr('content'),
            },
            success : function(data) {
                var num ='#qty' + cartfoodId
                var countqty = $(num).text();
                countqty = Number(countqty) + 1;
                $('.totalqual').replaceWith('<span class="badge badge-danger totalqual">' + data.totalQty + '</span>');
                $('.totalcost').replaceWith('<td class="totalcost">'+data.totalCost+'$</td>');
                $(num).replaceWith('<td class="text-center" id="qty'+cartfoodId+'">'+countqty+'</td>')
            } 
        })
    })
    $('#showfoodcart').on("click", ".reduceval",function(e){
        e.preventDefault();
        var cartfoodId = $(this).data('cartfood-id')
        var url =  baseUrl + ('reduce/') + cartfoodId
        $.ajax({
            type : 'get',
            url : url,
            data:{
                _csrf: $('meta[name="csrf-token"]').attr('content'),
            },
            success : function(data) {
                var num ='#qty' + cartfoodId
                var countqty = $(num).text();
                var removelink = ".removable" + cartfoodId
                if (countqty == 1) {
                    $(removelink).remove()
                    $('.totalcost').replaceWith('<td class="totalcost">'+data.totalCost+'$</td>');                    
                    $('.totalqual').replaceWith('<span class="badge badge-danger totalqual">' + data.totalQty + '</span>');
                } else {
                    countqty = Number(countqty) - 1;
                    $('.totalqual').replaceWith('<span class="badge badge-danger totalqual">' + data.totalQty + '</span>');
                    $('.totalcost').replaceWith('<td class="totalcost">'+data.totalCost+'$</td>');
                    $(num).replaceWith('<td class="text-center" id="qty'+cartfoodId+'">'+countqty+'</td>')
                }
            } 
        })
    })    
    $('#showfoodcart').on("click", ".removeval",function(e){
        e.preventDefault();
        var cartfoodId = $(this).data('cartfood-id')
        var url =  baseUrl + ('remove/') + cartfoodId
        $.ajax({
            type : 'get',
            url : url,
            data:{
                _csrf: $('meta[name="csrf-token"]').attr('content'),
            },
            success : function(data) {
                var removelink = ".removable" + cartfoodId
                $(removelink).remove()
                $('.totalqual').replaceWith('<span class="badge badge-danger totalqual">' + data.totalQty + '</span>');
                $('.totalcost').replaceWith('<td class="totalcost">'+data.totalCost+'$</td>');
            } 
        })
    })
</script>

</body>

</html>